body {
  background-color: #222;
  margin: 0;
  padding: 0;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  color: #fff;
  font-family: Quicksand;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;

  span {
    padding: 0 10px;
  }

  div:nth-child(3) {
    span {      background-color: rgba(#fff, 0.07);
      font-size: 80px;
      font-weight: 700;

    }
  }
}